.social-icons-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--active-link);
    outline: transparent;
}
  &:hover .social-icons-link-inside,
  &:focus .social-icons-link-inside {
    fill: var(--main-white);
}
}

.social-icons-link-inside {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}





.social-icons-list {
  display: flex;
}
